asn1crypto==0.24.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
crcmod==1.7
cryptography==2.6.1
distro-info==0.21
entrypoints==0.3
Flask==2.0.2
idna==3.3
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==2.0.1
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.12.0
typing-extensions==4.0.1
unattended-upgrades==0.1
urllib3==1.26.8
Werkzeug==2.0.2
zipp==3.7.0
